<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messages</title>
    <link rel="stylesheet" href="./index.css">
  </head>
  <body>
      <%- include('./header.ejs') %>

    <div class="messages_wrapper">
      <% messages.forEach((message) => { %>
      <div >
        <h2 class="message__text"><%= message.text %></h2>
        <p class="message__user"><%= message.user %></p>
        <p class="message__time"><%= message.getTimeAgo() %></p>
        <a class="message__open" href="/message/<%=message.id%>">Open</a>
      </div>
      <%}) %>
    </div>
    <a class="add" href="/new">New message</a>
  </body>
</html>
